# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
out/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Java / Spring Boot
target/
*.class
*.log
*.jar
*.war
.mvn/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
